{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="text-align: center;">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo da Empresa" class="logo">
</div>
<h1>Faça login para acessar sua conta.</h1>
<form action="{{ url_for('login') }}" method="post">
    <label for="username">Usuário:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Entrar</button>
</form>
<div class="action-links">
    <a href="{{ url_for('register') }}">Não tem uma conta? Registre-se</a>
</div>
{% endblock %}